.audience {
  padding: 50px 15px;
  background-color: #00a1c612;

  &__title {
    margin: 0;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
  }

  &__buttons-list {
    margin: 30px 0px 40px;
  }

  &__button {
    display: block;
    width: 290px;
    height: 48px;
    background-color: #3040c4;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    line-height: 13px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;

    &_learn-more {
      width: 290px;
      height: 48px;
      background-color: #fff;
      box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.05);
      margin-top: 12px;
      border: none;
      border-radius: 2px;
      font-size: 18px;
      line-height: 13px;
      font-weight: 700;
      color: #3040c4;
    }
  }
}

  .user-card {
    width: 290px;
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    text-align: center;
    padding: 22px 0px 33px;
    cursor: pointer;

    &:hover {
      background-color: #3141c5;
      box-shadow: 0px 13px 11px 0px rgba(0, 0, 0, 0.15);
      color: #fff;
    }

    &__text {
      margin: 22px 0px 0px;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
    }
  }


.audience-article {
  &__title {
    margin: 16px 0px 0px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.36px;
  }

  &__text {
    margin: 18px 0px 0px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }
}

@media screen and (min-width: 1400px) {
  .audience {
    padding: 110px 130px;
    display: flex;
    flex-direction: column;

    &__block {
      width: 555px;
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    &__buttons-list {
      justify-content: center;
      display: flex;
      margin-top: 34px;
      margin-bottom: 0;
    }

    &__button {
      width: 160px;

      &_learn-more {
        margin: 0px 0px 0px 10px;
        width: 160px;
      }
    }

    &__block-user {
      display: flex;
      margin-top: 110px;
      justify-content: space-between;
    }

  }

  .user-card {
    width: 262px;
  }

  .audience-article {
    &__title {
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }
}
