.resp-features {
  width: 100%;
  &__image {
    margin-top: 30px;
  }
  &__article {
    &__title {
      margin: 0;
      margin-top: 17px;
      font-size: 40px;
      line-height: 40px;
    }
    &__parag {
      font-size: 24px;
      line-height: 34px;
      margin: 0;
      margin-top: 15px;
    }

    &__last-parag {
      width: 290px;
      text-align: center;
      margin: 0;
      margin-top: 19px;
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__item {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e3e3e3;
    &:last-child {
      border-bottom: none;
      padding-bottom: 50px;
    }
    &_title {
      margin: 0;
      margin-top: 40px;
      color: #009b4d;
      font-size: 22px;
      line-height: 34px;
      &:first-child {
        margin-top: 48px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .resp-features {
    display: none;
  }
}
