@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'features-responsible.scss';
@import 'inbox.scss';
@import 'audience.scss';
@import 'communication.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  min-height: 100%;
  color: #2b292d;
}

button {
  cursor: pointer;
}

.page {
  width: 320px;
  margin: auto;
}

@media screen and (min-width: 1400px) {
  html {
    max-width: 100%;
  }
  
  .page {
    width: 1400px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
